.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(180, 180, 180);
}

p {
  font-size: 20px;
}

.addTask {
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(240, 193, 65);
  padding: 5%;
  margin: 5% 20% 0% 20%;
  border-radius: 50px;
  border: 3px solid black;
}

input, button {
  font-size: 20px;
  width: auto;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.title {
  padding-bottom: 1em;
  text-decoration: underline;
}

button {
  border-radius: 5px;
  margin-left: 0.3em;
  font-weight: bold;
  cursor: pointer;
}

.graybutton:hover {
  background-color: gray;
  color: white;
  border-color: gray;
  box-shadow: 0px 0px 10px gray;
}

.redbutton:hover {
  background-color: rgb(255, 50, 50);
  color: white;
  border-color: rgb(255, 50, 50);
  box-shadow: 0px 0px 10px rgb(255, 50, 50);
}

.donebutton:hover {
  background-color: lightgreen;
  color: white;
  border-color: lightgreen;
  box-shadow: 0px 0px 10px lightgreen;
}

.addedTask {
  border-radius: 5px;
  padding: 0;
}

.nav {
  background-color: rgb(62, 152, 255);
  border-radius: 10px;
  margin-right: 1%;
  margin-left: 1%;
  margin-bottom: 5%;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
} 

.navbutton {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 2%;
  width: auto;
  height: auto;
}

.navbutton:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 10px;
}

.coffeestuff {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/06/07/10/coffee-2589761_960_720.jpg);
  background-size: cover;
  width: auto;
  color: white;
  border-radius: 50px;
  justify-content: center;
  border: 3px solid black;
}

.coffeestuffinfo {
  background-color: rgb(83, 82, 82, 0.8);
  border-radius: 50px;
  border: 3px solid black;
  margin: 10%;
}

.coffee1 {
  display: flex;
  justify-content: center;
  margin: 2em 0em 2em 0em;
}

a {
  color: white;
}

.coffeeitem {
  padding: 5%;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

label {
  display: flexbox;
  line-height: 2em;
  margin: 1em;
}

input[type="text"] {
  border-radius: 5px;
  margin-bottom: 10px;
}

.calculator {
  text-transform: uppercase;
  background-image: url(https://cdn.pixabay.com/photo/2016/04/30/00/28/dollar-1362244_960_720.jpg);
  background-size: cover;
  padding: 10%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
}

.calculatorinfo {
  background-color: rgb(182, 198, 214, 0.7);
  border-radius: 50px;
  backdrop-filter: blur(5px);
  border: 3px solid black;
  padding: 5%;
}

.split span {
  padding: 3%;
}

.split button{
  border-radius: 999px;
  width: 40px;
  height: 40px;
  background-color: rgb(86, 114, 238);
  color: white;
  border: none;
}

.tipTitle {
  text-decoration: underline;
  font-size: 1em;
  color: white;
  font-weight: 500;
  text-shadow: -3px 3px 5px black;
}

.chickentitle {
  margin-top: 10%;
  text-decoration: underline;
}

.chickenimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: white;
  border: 2px solid black;
  width: auto;
  max-width: 500px;
  box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.chickenimgtext {
  font-style: italic;
  padding: 10px 20px
}

.chickentext {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.facts {
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-left: 10%;
}

.boldleft {
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
}

.left {
  text-align: left;
}