.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(180, 180, 180);
}

p {
  font-size: 20px;
}

.addTask {
  justify-content: center;
  text-align: center;
  align-items: center;
  overflow: hidden;
  background-color: rgb(164, 189, 181);
  padding: 5%;
  margin: 5% 20% 0% 20%;
  border-radius: 50px;
  border: 3px solid black;
}

input, button {
  font-size: 20px;
  width: auto;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}

.title {
  padding-bottom: 1em;
  text-decoration: underline;
}

button {
  border-radius: 5px;
  margin-left: 0.3em;
  font-weight: bold;
  cursor: pointer;
}

.graybutton:hover {
  background-color: gray;
  color: white;
  border-color: gray;
  box-shadow: 0px 0px 10px gray;
}

.redbutton:hover {
  background-color: rgb(255, 50, 50);
  color: white;
  border-color: rgb(255, 50, 50);
  box-shadow: 0px 0px 10px rgb(255, 50, 50);
}

.donebutton:hover {
  background-color: lightgreen;
  color: white;
  border-color: lightgreen;
  box-shadow: 0px 0px 10px lightgreen;
}

.addedTask {
  border-radius: 5px;
  padding: 0;
}

.nav {
  margin-bottom: 2%;
  font-size: 2vh;
  justify-content: center;
  width: 100%;
} 

.navbutton {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding: 8px;
  overflow: hidden;

}

.navbutton:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 5px;
}

.navmenu {
  background-color: rgb(62, 152, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.3), 5px 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.navmenu ul {
  display: flex;
}

.navmenu li {
  list-style-type: none;
  margin: 0 1.5rem;
}

.navmenu li a {
  text-decoration: none;
  display: block;
  width: 100%;
}

.hamburger {
  height: 50px;
  width: 50px;
  background-color: rgb(62, 152, 255, 0.8);
  border: 2px solid black;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: fixed;
  top: 5%;
  left: 10px;
  transform: translateY(-50%);
  display: none;
}


.coffeestuff {
  background-image: url(https://cdn.pixabay.com/photo/2017/08/06/07/10/coffee-2589761_960_720.jpg);
  background-size: cover;
  width: auto;
  color: white;
  border-radius: 50px;
  justify-content: center;
  border: 3px solid black;
}

.coffeestuffinfo {
  background-color: rgb(83, 82, 82, 0.8);
  border-radius: 50px;
  border: 3px solid black;
  margin: 10%;
}

.coffee1 {
  display: flex;
  justify-content: center;
  margin: 2em 0em 2em 0em;
}

a {
  color: white;
}

.coffeeitem {
  padding: 5%;
}

.underline {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

label {
  display: flexbox;
  line-height: 2em;
  margin: 1em;
}

input[type="text"] {
  border-radius: 5px;
  margin-bottom: 10px;
}

.calculator {
  text-transform: uppercase;
  background-image: url(https://cdn.pixabay.com/photo/2015/09/15/15/53/bank-notes-941246_960_720.jpg);
  background-size: cover;
  padding: 5%;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  height: auto;
  border: 3px solid black;
}

.calculatorinfo {
  background-color: rgb(182, 198, 214, 0.7);
  border-radius: 50px;
  backdrop-filter: blur(5px);
  border: 3px solid black;
  padding-top: 3%;
  padding-bottom: 3%;
  width: 550px;
  display: inline-block;
  justify-content: center;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.3), 5px 6px 30px 0 rgba(0, 0, 0, 0.19);

}

.split span {
  padding: 3%;
}

.split button{
  border-radius: 999px;
  width: 40px;
  height: 40px;
  background-color: rgb(86, 114, 238);
  color: white;
  border: none;
}

.tipTitle {
  text-decoration: underline;
  font-size: 1em;
  color: white;
  font-weight: 500;
  text-shadow: -3px 3px 5px black;
  padding-bottom: 5%;
}

.chicken {
  background-image: url(https://img.freepik.com/premium-vector/cartoon-chick-seamless-pattern_51194-57.jpg?w=1060);
  padding-top: 2%;
  padding-bottom: 2%;
}

.chickenstuff {
  background-color: rgb(210, 216, 160, 0.8);
  border-radius: 20px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.chickentitle {
  margin-top: 10%;
  text-decoration: underline;
}

.chickenimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
  background-color: white;
  border: 2px solid black;
  width: auto;
  max-width: 500px;
  box-shadow: 8px 4px 8px 0 rgba(0, 0, 0, 0.2), 0px 6px 30px 0 rgba(0, 0, 0, 0.19);
}

.chickenimgtext {
  font-style: italic;
  padding: 10px 20px
}

.chickentext {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

.facts {
  margin-top: 5%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-left: 10%;
}

.boldleft {
  text-align: left;
  font-weight: bolder;
  font-size: 20px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.unbullet {
  list-style-type: none;
}

.weathercard {
  background-color: rgb(255, 203, 164);
  width: 650px;
  display: inline-block;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.3), 5px 6px 30px 0 rgba(0, 0, 0, 0.19);
  z-index: 1;
  padding-bottom: 2%;
}

.weathertitle {
  height: 80px;
  width: 500px;
  display: inline-block;
  justify-content: center;
  padding-top: 1%;
}

.divider {
  border-top: 5px solid white;
  border-radius: 5px;
  width: 500px;
  margin: auto;
}

.credit {
  font-size: 13px;
  padding-top: 7%;
}




@media screen and (max-width: 768px) {
  .hamburger {
    display: block;
  }

  body {
    margin-top: 10%;
  }

  .navmenu ul {
    position: fixed;
    top: 40px;
    left: 0;
    width: 60%;
    flex-direction: column;
    height: auto;
    border: 2px solid black;
    text-align: center;
    background-color: rgb(62, 152, 255, 0.9);
    border-radius: 10px;
    padding: 0%;
    z-index: 1;
    display: none;
  }

  .navmenu.expanded ul {
    display: block;
  }

  .navmenu li {
    text-align: center;
    margin: 0;
  }

  .navmenu li a {
    width: 90%;
  }

  .navbutton {
    padding: 5%;
  }

  .chickenstuff {
    margin: 1%;
  }

}